
html, body {
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #333;
}

/* when < 480 change to block item */
.logo {
  background: red;
  border: 3px solid red;
  padding: 0 20px 0 15px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 2.4em;
  display: inline;
}

 /*#nav-links to change to block*/

.top-nav {
  float: left;
}

ul {
  list-style-type: none; 
  padding: 0; 
}

li {
  display: inline;
  margin: 0;
  padding: 0;
}


li a {
  font-size: 1.2em;
  margin: 0;
  padding: 17px 15px;
  height: 60px;
  color: #fff;
  text-decoration: none;
  background: #333;
}

li a:hover {
  background: #222;
}

.active-nav-link {
  font-weight: bold;
}

.search {
  float: right;
  margin: 15px;
}

.search-btn {
  border-right: 2px solid #111;
  border-bottom: 2px solid #111;
  padding: 7px 12px 6px 13px;
  margin: 1px;
  font-size: 1em;
  color: #fff;
  background: #222;
  text-decoration: none;
}

.search-btn:hover {
  background: #1d1d1d;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

#content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 60px;
  overflow:scroll; 
  background: #bbb; 
  width: 100%;
  text-align: center;
}


h2 {
  line-height: 0em; 
}

#movie-collection {
  text-align: center;
  /*height: 200px;*/
}

.movies-collection-img {
  height: 90%;
  /*height: 270px;*/
  /*width: 170px;*/
  margin: 5px;
}

#single-movie-info {
  height: 350px;
  background: #bbb; 
  position: relative;
  text-align: center;
  padding: 20px;
}

#movie-extra-info {
  width: 40%;
  float: left;
}

#movie-main-summary {
  width: 55%;
  float: right;
  height: 99%;
  /*border: 1px solid black;*/
  margin-right: 10px;
}

#movie-summary-img {
  max-height: 320px;
  max-width: 85%;
  margin: 10px;
}

#movie-summary-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 25px;
}

#summary-left {
  width: 35%;
  float: left;
  display: inline-block;
}

#summary-right {
  margin-top: 10px;
  font-size: 1.1em;
  float: right;
  width: 65%;
  text-align: left;
}

.fa-star {
  font-size: 70px;
  color: #fbc02d;
}

.fa-stack-1x {
  font-size: 22px;
  font-weight: bold;
  line-height: 70px;
  margin-left: 10px;  
  font-family: 'Open Sans Condensed';
}

.votes {
  font-size: 16px;
  margin-left: 70px;
  margin-top: 10px;
  width: 100px;
  font-family: 'Open Sans Condensed';
}

.youtube {
  margin: 10px;
  width: 100%;
  /*width: 480px;*/
  height: 320px;
  border: 0;
  background: #999 url(https://www.openmerchantaccount.com/img/novideo.png) no-repeat center;
}

.movie-thumb {
  height: 30%;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
}

.center {
  padding: 10px 50px;
  background: #999;
}

.movie-thumb:hover {
  cursor: hand;
  cursor: cursor;
  cursor: pointer;
}

.social-link {
  color: #000;
  font-weight: bold;
}